[submodule "libraries/windfield"]
	path = libraries/windfield
	url = https://github.com/a327ex/windfield.git
[submodule "libraries/Simple-Tiled-Implementation"]
	path = libraries/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
